
<div ng-view>
	  			
</div>

<script src="/js/controller/app.js"></script>
<script src="/js/controller/adminController.js"></script>
<script src="/js/controller/cerrarSesionController.js"></script>
<script src="/js/controller/loginController.js"></script>
<script src="/js/controller/registrarController.js"></script>
<script src="/js/controller/showController.js"></script>
<script src="/js/controller/userController.js"></script>